#!/usr/bin/env bash

#
# Sample credentials file.
# To be sourced before operating with Terraform.
#

export OS_USERNAME="....."
export OS_PASSWORD="...."
export OS_PROJECT_ID="......"
export OS_PROJECT_NAME="...."
export OS_AUTH_URL="...."
export OS_REGION_NAME="...."
export OS_USER_DOMAIN_NAME="...."
export OS_IDENTITY_API_VERSION=3

# For Terraform
export TF_VAR_username=${OS_USERNAME}
export TF_VAR_password=${OS_PASSWORD}
export TF_VAR_tenant_id=${OS_PROJECT_ID}
export TF_VAR_tenant_name=${OS_PROJECT_NAME}
export TF_VAR_auth_url=${OS_AUTH_URL}
export TF_VAR_region=${OS_REGION_NAME}
export TF_VAR_domain_name=${OS_USER_DOMAIN_NAME}

export TF_VAR_flavor="<flavor name>"
export TF_VAR_flavor_compute="<flavor name for a compute node>"
#export TF_VAR_boot_image="Fedora27-Cloud"
export TF_VAR_boot_image="CentOS 7 - latest"
export TF_VAR_key="<some-already-present-key>"
export TF_VAR_pool="<Pool for Floating IPs>"
export TF_VAR_router_id="ID of existing router"
export TF_VAR_dns_servers='["130.239.1.90","130.238.7.10","8.8.8.8"]'
