[Unit]
Description=EGA Inbox service
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
Group=root

# # Wait for the Database and the Message Broker to be up
# ExecStartPre=until /bin/nc -4 --send-only ega-mq 5672 </dev/null &>/dev/null; do /bin/sleep 1; done
# ExecStartPre=until /bin/nc -4 --send-only ega-mq 5432 </dev/null &>/dev/null; do /bin/sleep 1; done

ExecStart=/bin/ega-inbox --conf $EGA_CONF --log $EGA_LOG

KillMode=process
Restart=on-failure

Environment=EGA_CONF=~ega/.lega/conf.ini
Environment=EGA_LOG=syslog
