language: python
python: 3.6
install: true
cache:
  directories:
    - $HOME/.m2

git:
  depth: false
  quiet: true

stages:
  - name: tests

jobs:
  include:
    #
    # Unit Tests and Image Build
    #
    - stage: tests
      name: "Unit Tests"
      python: 3.6
      before_script: pip install tox-travis
      script: tox
    #
    # BATS Tests
    #
    - stage: tests
      name: "Integration Tests"
      if: type = pull_request
      services: docker
      before_script:
        - git clone https://github.com/bats-core/bats-core.git
        - pushd bats-core && git checkout v1.1.0 && sudo ./install.sh /usr/local && popd
        - cd deploy
        - make -C images
        - make install-bootstrap-packages prepare
        - make bootstrap
        - make up
        - make preflight-check
      script:
        - cd ../tests
        - bats integration
    - stage: tests
      name: "Integration Tests POSIX"
      if: type = pull_request
      services: docker
      before_script:
        - git clone https://github.com/bats-core/bats-core.git
        - pushd bats-core && git checkout v1.1.0 && sudo ./install.sh /usr/local && popd
        - cd deploy
        - make -C images
        - make install-bootstrap-packages prepare
        - make bootstrap
        - make up
        - make preflight-check
      script:
        - cd ../tests
        - bats integration
    - stage: tests
      name: "Robustness Tests"
      if: type = pull_request
      services: docker
      before_script:
        - git clone https://github.com/bats-core/bats-core.git
        - pushd bats-core && git checkout v1.1.0 && sudo ./install.sh /usr/local && popd
        - cd deploy
        - make -C images
        - make install-bootstrap-packages prepare
        - make bootstrap
        - make up
        - make preflight-check
      script:
        - cd ../tests
        - bats robustness
    - stage: tests
      name: "Security Tests"
      if: type = pull_request
      services: docker
      before_script:
        - git clone https://github.com/bats-core/bats-core.git
        - pushd bats-core && git checkout v1.1.0 && sudo ./install.sh /usr/local && popd
        - cd deploy
        - make -C images
        - make install-bootstrap-packages prepare
        - make bootstrap
        - make up
        - make preflight-check
      script:
        - cd ../tests
        - bats security
    # #
    # # Cucumber Tests
    # #
    # - stage: tests
    #   name: "Cucumber Ingestion Tests"
    #   if: type = pull_request
    #   before_script:
    #     - pip3 install -r requirements.txt
    #     - cd deploy
    #     - make -C images
    #     - make prepare
    #     - make bootstrap ARGS='--inbox mina'
    #     - make up
    #     - make preflight-check
    #   script:
    #     - cd tests
    #     - mvn test -Dtest=IngestionTests
    # - stage: tests
    #   name: "Cucumber Robustness Tests"
    #   if: type = pull_request
    #   before_script:
    #     - pip3 install -r requirements.txt
    #     - cd deploy
    #     - make -C images
    #     - make prepare
    #     - make bootstrap ARGS='--inbox mina'
    #     - make up
    #     - make preflight-check
    #   script:
    #     - cd tests
    #     - mvn test -Dtest=RobustnessTests


notifications:
  email: false
  slack:
    secure: eUyEWWvrFbzW+j+WKIOrHm7zeJ+6+o/WmI5cp1UYsOT9emxGE4kzW057cG9EV+sgKUdoYP1zSfCH0TLSOjY7otyqccqZH5WxDtiBSEXpkA8ID8jzQnX1VZWFn1vK+gWpER87VdLonVGt4db1lqE3Gm/uCbEqzrmfYjE1Hrk4PM8FfLQfD3+YBPUnWGSZKAPmdHAKh7IF9VQ6f1zaspijp/Sxa7Dk9F+Z4o2nsZ1woSyOVAwWLJhkvEafyEFfb/9tPMF1wtoXlLEzV1JDRzyjzbLGXQcpo6+Qx3+v7w6eRbriifOq2tByBfeI+RlWytwOgb+B/mfN0uFPbdg/Bgr//NMDrqwCnFQs7A2Dj287mQZI4YpRvh4Cneu3ReVGQKd9SJq28BliwXBBv3xyeFfGEbBOMNKb0VCsNjRuWITncf/qx3Vxn13VAYxcdA9EZpa1UzT6V94nlbLUq3twFKBJiDmpraYnI+JGFCZ32Xh8bySNqbEBe7TnqAG015c4pKKx++3IQJePfSPbRKzwWNAM5yG7RuVmud5fxfN+KdQz7vKfjOeaHKG4PScfhRT0zthtgmPG+m5eCprIbdFlacU3UyobLtxZd8wI9qJnGGvB3bHOsuaqpS2ymDWbd/n1aeryrcTkS/gPuwMvTs6S32pRf/orKqyLfnSZPeTcOevbzHw=
