pika==0.12.0
colorama==0.3.7
aiohttp==3.3.2
aiohttp-jinja2==0.13.0
sphinx_rtd_theme
cryptography==2.3.1
pgpy
psycopg2-binary==2.7.5
PyYaml
boto3
git+https://github.com/NBISweden/LocalEGA-cryptor.git
uvloop
