#!/usr/bin/env bash
set -e

DOCKER_PORT_inbox=2222
DOCKER_PORT_mq=15672
DOCKER_PORT_kibana=5601
DOCKER_PORT_s3=9000
DOCKER_PORT_keyserver=8443

CEGA_MQ_PASSWORD=$(generate_password 16)
[[ "${DEPLOY_DEV}" = "yes" ]] && CEGA_MQ_PASSWORD=lega # overwrite

CEGA_REST_PASSWORD=$(generate_password 16)

SSL_SUBJ="/C=SE/ST=Sweden/L=Uppsala/O=NBIS/OU=SysDevs/CN=LocalEGA/emailAddress=ega@nbis.se"

DB_USER=lega
DB_PASSWORD=$(generate_password 16)

# if [ -z "${DB_USER}" -o "${DB_USER}" == "postgres" ]; then
#     echo "Choose a database user (but not 'postgres')"
#     exit 4
# fi

PGP_NAME="LocalEGA"
PGP_COMMENT="@lega"
PGP_EMAIL="local-ega@ega.eu"
PGP_PASSPHRASE=$(generate_password 16)

S3_ACCESS_KEY=$(generate_password 16)
S3_SECRET_KEY=$(generate_password 32)

LOG_LEVEL=DEBUG

LEGA_PASSWORD=$(generate_password 32)
KEYS_PASSWORD=$(generate_password 32)
