hba_file = '/etc/ega/pg_hba.conf'

#listen_addresses = 'localhost' # comma-separated list of addresses;
			       # defaults to 'localhost'; use '*' for all
listen_addresses = '*' # all good: we are inside the container!

port = 5432
max_connections = 103
superuser_reserved_connections = 3

password_encryption = scram-sha-256

# - SSL -
#ssl = off
#ssl_ca_file = ''
#ssl_cert_file = 'server.crt'
#ssl_crl_file = ''
#ssl_key_file = 'server.key'
#ssl_ciphers = 'HIGH:MEDIUM:+3DES:!aNULL' # allowed SSL ciphers
#ssl_prefer_server_ciphers = on
#ssl_ecdh_curve = 'prime256v1'
#ssl_min_protocol_version = 'TLSv1.2'
#ssl_max_protocol_version = ''
#ssl_dh_params_file = ''
#ssl_passphrase_command = ''
#ssl_passphrase_command_supports_reload = off


shared_buffers = 128MB
dynamic_shared_memory_type = posix

#------------------------------------------------------------------------------
# WRITE-AHEAD LOG
#------------------------------------------------------------------------------
wal_level = logical
max_wal_size = 1GB
min_wal_size = 80MB

# - What to Log -

log_connections = on
log_timezone = 'Etc/UTC'

log_min_duration_statement='5000' # in milliseconds

log_min_messages = info

#------------------------------------------------------------------------------
# PROCESS TITLE
#------------------------------------------------------------------------------

cluster_name = 'pg-fega-vault'
update_process_title = on

#------------------------------------------------------------------------------
# CLIENT CONNECTION DEFAULTS
#------------------------------------------------------------------------------

datestyle = 'iso, mdy'
timezone = 'Etc/UTC'
lc_messages = 'en_US.utf8'
lc_monetary = 'en_US.utf8'
lc_numeric = 'en_US.utf8'
lc_time = 'en_US.utf8'
default_text_search_config = 'pg_catalog.english'

#------------------------------------------------------------------------------
# Crypt4GH settings
#------------------------------------------------------------------------------
shared_preload_libraries='pg_crypt4gh'

crypt4gh.master_seckey = '3030303030303030303030303030303030303030303030303030303030303030'
#
# Update crypt4gh.master_seckey with the following python code snippet:
# python -c 'import crypt4gh.keys; print(crypt4gh.keys.get_private_key("/path/to/master.key.sec", lambda: "passphrase").hex())'
#

vault.dirpath = '/path/to/vault/directory/for/distribution'

#------------------------------------------------------------------------------
# SQLite box settings
#------------------------------------------------------------------------------
sqlite_fs.location = '/sqlite-boxes'

#------------------------------------------------------------------------------
# EGA NSS SETTINGS
#------------------------------------------------------------------------------

nss.uid_shift = 10000
nss.gid_shift = 0
nss.users = '/etc/ega/nss/users'
nss.groups = '/etc/ega/nss/groups'
nss.passwords = '/etc/ega/nss/passwords'
nss.authorized_keys = '/etc/ega/authorized_keys'

