# # TYPE   DATABASE   USER      ADDRESS        METHOD
# local    all      all	      		     scram-sha-256
# hostssl  ega 	    postgres  127.0.0.1/32   scram-sha-256
# hostssl  ega      postgres  ::1/128        scram-sha-256
# hostssl  ega      postgres  all            scram-sha-256
# hostssl  ega 	    postgres  all            scram-sha-256   clientcert=1


# TYPE   DATABASE   USER      ADDRESS        METHOD
local  	 all  	    all	      		     trust
host	 ega 	    postgres  127.0.0.1/32   scram-sha-256
host  	 ega  	    postgres  ::1/128        scram-sha-256
host  	 ega  	    postgres  all            scram-sha-256

host  	 ega  	    lega         all         scram-sha-256
host  	 ega  	    distribution all         scram-sha-256
