OS_USERNAME=
OS_PASSWORD=
OS_TENANT_ID=
OS_DOMAIN_NAME=
OS_AUTH_URL=
OS_IDENTITY_API_VERSION=
OS_REGION_NAME=
OS_NETWORK_NAME=
OS_SECURITY_GROUPS=
OS_SSH_USER=
OS_FLAVOR_NAME=
OS_IMAGE_ID=
OS_KEYPAIR_NAME=
OS_PRIVATE_KEY_FILE=