[Unit]
Description=EGA Connector service (%I)
After=syslog.target
After=network.target

[Service]
Type=simple
User=ega
Group=ega

# CentralEGA to LocalEGA
ExecStart=/bin/ega-connect --conf $EGA_CONF --log $EGA_LOG %i

Environment=EGA_CONF=~/.lega/conf.ini
Environment=EGA_LOG=syslog

StandardOutput=syslog
StandardError=syslog

Restart=on-failure
RestartSec=10  # seconds
TimeoutSec=600 # seconds

Sockets=ega-db.socket ega-mq.socket

[Install]
WantedBy=multi-user.target
