[Unit]
Description=EGA Socket forwarding service (to GPG-Master:%I)
After=syslog.target
After=network.target

[Service]
Type=simple
User=ega
Group=ega
#ExecStartPre=/usr/bin/rm -f /run/user/%U/gnupg/S.gpg-agent
ExecStart=/bin/ega-socket-forwarder $EGA_GPG_SOCKET $EGA_GPG_MASTER:%i --certfile ~/certs/selfsigned.cert

Environment=EGA_GPG_SOCKET=/run/user/%U/gnupg/S.gpg-agent
Environment=EGA_GPG_MASTER=ega-keys

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
