[Unit]
Description=EGA Worker service
After=syslog.target
After=network.target
BindsTo=ega-socket-forwarder

[Service]
Type=simple
User=ega
Group=ega

# # Wait for the Database and the Message Broker to be up
# ExecStartPre=until /bin/nc -4 --send-only ega-mq 5672 </dev/null &>/dev/null; do /bin/sleep 1; done
# ExecStartPre=until /bin/nc -4 --send-only ega-mq 5432 </dev/null &>/dev/null; do /bin/sleep 1; done

ExecStart=/bin/ega-worker --conf $EGA_CONF --log $EGA_LOG
KillMode=process
Restart=on-failure

Environment=EGA_CONF=~/.lega/conf.ini
Environment=EGA_LOG=syslog

