[Unit]
Description=EGA Socket forwarding service
After=syslog.target
After=network.target

[Service]
Type=simple
User=ega
Group=ega
ExecStart=/bin/ega-socket-forwarder ~/.gnupg/S.gpg-agent ega-keys:9010 --certfile ~/certs/selfsigned.cert
KillMode=process
Restart=on-failure

