[Unit]
Description=EGA Worker service
After=syslog.target
After=network.target
After=ega-socket-forwarder@.service
BindsTo=ega-socket-forwarder@.service

[Service]
Type=simple
User=ega
Group=ega

ExecStart=/bin/ega-worker --conf $EGA_CONF --log $EGA_LOG

Environment=EGA_CONF=~/.lega/conf.ini
Environment=EGA_LOG=syslog

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
