[Unit]
Description=EGA Socket Proxy service (port %I)
After=syslog.target
After=network.target

[Service]
Type=simple
User=ega
Group=ega
ExecStart=/bin/ega-socket-proxy 192.168.10.12:%i ~/.gnupg/S.gpg-agent.extra --certfile ~/certs/selfsigned.cert --keyfile ~/certs/selfsigned.key

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
