[Unit]
Description=EGA Ingestion service
After=syslog.target
After=network.target

Requires=ega-socket-forwarder.service
After=ega-socket-forwarder.service

[Service]
Slice=ega.slice
Type=simple
#Restart=always
EnvironmentFile=/etc/ega/options
ExecStart=/usr/bin/ega-ingest $EGA_OPTIONS

StandardOutput=syslog
StandardError=syslog

Restart=on-failure
RestartSec=10
TimeoutSec=600

[Install]
WantedBy=multi-user.target
