[Unit]
Description=GPG-agent
Documentation=man:gpg-agent(1)
After=syslog.target
After=network.target

Requires=gpg-agent.socket
Requires=gpg-agent-extra.socket

[Service]
Slice=ega.slice
Type=simple
ExecStart=/usr/local/bin/gpg-agent --supervised
ExecReload=/usr/local/bin/gpgconf --reload gpg-agent
ExecStartPost=/root/preset.sh
User=ega
Group=ega
RuntimeDirectory=ega
RuntimeDirectoryMode=0700

StandardOutput=syslog
StandardError=syslog

Restart=on-failure
RestartSec=10
TimeoutSec=600

[Install]
WantedBy=multi-user.target
