[Unit]
Description=GPG-agent socket activation
After=syslog.target
After=network.target

[Socket]
ListenStream=/run/ega/S.gpg-agent
FileDescriptorName=std
SocketUser=ega
SocketGroup=ega
SocketMode=0600
DirectoryMode=0700
#Service=gpg-agent.service

[Install]
WantedBy=sockets.target
