[Unit]
Description=Mount EGA Staging Area NFS Directory

[Mount]
What=ega_inbox:/ega/staging
Where=/ega/staging
Type=nfs
Options=noauto,x-systemd.automount,x-systemd.device-timeout=10,timeo=14,x-systemd.idle-timeout=1min

[Install]
WantedBy=multi-user.target
