#!/usr/bin/env bash

set -e
#set -x

EGA='<ega-folder>'
[ -n "$1" ] && [ -d "$1" ] && EGA=$1

LOG=""
[ "$2" = '--log' ] && LOG="--log <file>"

function cleanup {
    echo -e "\nStopping background jobs"
    kill -9 -"$$"
    exit 1
}
trap 'cleanup' INT TERM

echo "Starting EGA in $EGA"
pushd $EGA  >/dev/null

# Start the frontend
ega-ingestion $LOG &
# Start the naming service
python $EGA/tools/namer.py &
# Start the vault listener
ega-vault $LOG &
# re-start the GPG agent
$EGA/tools/start_agent.sh
# Start 2 workers
source $EGA/private/gpg/agent.env && ega-worker $LOG &
source $EGA/private/gpg/agent.env && ega-worker $LOG &

popd >/dev/null
echo "EGA running..."

# Wait for everyone to finish
wait
