#!/usr/bin/env bash
set -e

DOCKER_PORT_inbox=2222
DOCKER_PORT_mq=15672
DOCKER_PORT_kibana=5601
DOCKER_PORT_s3=9000
DOCKER_PORT_keyserver=8443
DOCKER_PORT_res=8081

CEGA_MQ_PASSWORD=$(generate_password 16)
CEGA_REST_PASSWORD=$(generate_password 16)

SSL_SUBJ="/C=SE/ST=Sweden/L=Uppsala/O=NBIS/OU=SysDevs/CN=LocalEGA/emailAddress=ega@nbis.se"

# Database users are lega_in and lega_out
DB_LEGA_IN_PASSWORD=$(generate_password 16)
DB_LEGA_OUT_PASSWORD=$(generate_password 16)

PGP_NAME="LocalEGA"
PGP_COMMENT="@lega"
PGP_EMAIL="local-ega@ega.eu"
PGP_PASSPHRASE=$(generate_password 16)

S3_ACCESS_KEY=$(generate_password 16)
S3_SECRET_KEY=$(generate_password 32)

# Special cases
# - Access key length should be between minimum 3 characters in length.
# - Secret key should be in between 8 and 40 characters.
if [[ "${DEPLOY_DEV}" = "yes" ]]; then
    S3_ACCESS_KEY="dummyaccesskey"
    S3_SECRET_KEY="dummysecretkey"
fi

LOG_LEVEL=DEBUG

LEGA_PASSWORD=$(generate_password 32)
KEYS_PASSWORD=$(generate_password 32)
