#!/usr/bin/env bash
set -e

DOCKER_PORT_inbox=2222
DOCKER_PORT_mq=15672
DOCKER_PORT_kibana=5601
DOCKER_PORT_s3=9000

# Database users are lega_in and lega_out
DB_LEGA_IN_PASSWORD=$(get_trace_value secrets.pg_in_password)
DB_LEGA_OUT_PASSWORD=$(get_trace_value secrets.pg_out_password)

S3_ACCESS_KEY=$(get_trace_value secrets.s3_access_key)
S3_SECRET_KEY=$(get_trace_value secrets.s3_secret_key)

if [[ "${force}" != "force" ]] && [[ "${DEPLOY_DEV}" = "yes" ]]; then
    S3_ACCESS_KEY=dummyaccesskey
    S3_SECRET_KEY=dummysecretkey
fi


if [[ ${INBOX_BACKEND} == 's3' ]]; then # S3 backend for inbox
DOCKER_PORT_s3_inbox=9001
S3_ACCESS_KEY_INBOX=$(generate_password 16)
S3_SECRET_KEY_INBOX=$(generate_password 32)
fi

LOG_LEVEL=DEBUG

## For the master key
C4GH_PASSPHRASE=$(generate_password 32)

# For Local Broker connections
MQ_USER=lega
MQ_PASSWORD=$(get_trace_value secrets.mq_password)
MQ_PASSWORD_HASH=$(get_trace_value secrets.mq_password_hash)



