# sshd_config
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

#UsePAM no
# Not supported on RedHat

# Faster connection
UseDNS no

# Limited access
PermitRootLogin no
X11Forwarding no
AllowTcpForwarding no


# Force sftp and chroot jail
UsePrivilegeSeparation sandbox
Subsystem sftp internal-sftp
ChrootDirectory %h
ForceCommand internal-sftp # -d inbox
