# Faster connection
UseDNS no

# Limited access
PermitRootLogin no
X11Forwarding no
AllowTcpForwarding no


# Force sftp and chroot jail
UsePrivilegeSeparation sandbox
Subsystem sftp internal-sftp
ChrootDirectory %h
ForceCommand internal-sftp
