debug = ok_why_not

##################
# Databases
##################
db_connection = host=ega_db port=5432 dbname=lega user=postgres password=CHANGE-ME-PLEASE connect_timeout=1 sslmode=disable

enable_rest = sdfsdfyes
rest_endpoint = https://ega.crg.eu/users/%s

##################
# NSS Queries
##################
nss_user_entry = SELECT elixir_id,'x',1001,1001,'EGA User','/ega/inbox/'|| elixir_id,'/bin/bash' FROM users WHERE elixir_id = $1 LIMIT 1

##################
# PAM Queries
##################
pam_auth = SELECT password_hash FROM users WHERE elixir_id = $1 LIMIT 1
pam_acct = SELECT user_expired($1)
enable_rest = nope
