debug = ok_why_not

##################
# Databases
##################
db_connection = host=ega_db port=5432 dbname=lega user=postgres password=CHANGE-ME-PLEASE connect_timeout=1 sslmode=disable

enable_rest = yes
rest_endpoint = http://cega_users/user/%s
rest_user = lega
rest_password = change_me
rest_resp_passwd = .password
rest_resp_pubkey = .public_key

##################
# NSS Queries
##################
nss_get_user = SELECT elixir_id,'x',1001,1001,'EGA User','/ega/inbox/'|| elixir_id,'/sbin/nologin' FROM users WHERE elixir_id = $1 LIMIT 1
nss_add_user = SELECT insert_user($1,$2,$3)

##################
# PAM Queries
##################
pam_auth = SELECT password_hash FROM users WHERE elixir_id = $1 LIMIT 1
pam_acct = SELECT elixir_id FROM users WHERE elixir_id = $1 and current_timestamp < last_accessed + expiration
#pam_promt = Knock Knock:
